USE [master]
GO
/****** Object:  Database [QLKPG]    Script Date: 5/18/2022 2:36:48 PM ******/
CREATE DATABASE [QLKPG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKPG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLKPG.mdf' , SIZE = 237760KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKPG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLKPG_log.ldf' , SIZE = 932672KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKPG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKPG]
GO
/****** Object:  UserDefinedTableType [dbo].[TMPKH]    Script Date: 5/18/2022 2:36:48 PM ******/
CREATE TYPE [dbo].[TMPKH] AS TABLE(
	[MAKH] [nchar](10) NOT NULL
)
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [nchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NOT NULL,
	[SONGAYSUDUNG] [int] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOTHONGSOCOTHE]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOTHONGSOCOTHE](
	[MAKH] [nchar](10) NOT NULL,
	[NGAY] [smalldatetime] NOT NULL,
	[CHIEUCAO] [float] NOT NULL,
	[CANNANG] [float] NOT NULL,
	[TILEMO] [float] NOT NULL,
	[KHOILUONGCO] [float] NOT NULL,
 CONSTRAINT [PK_DOTHONGSOCOTHE] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[GIOITINH] [nchar](10) NOT NULL,
	[NGAYSINH] [date] NULL,
	[CMND] [nvarchar](12) NULL,
	[EMAIL] [varchar](50) NULL,
	[DIACHI] [nvarchar](200) NULL,
	[HANGKH] [nvarchar](20) NULL,
	[HINHANH] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHQUETVANTAY]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHQUETVANTAY](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[NGAYGIO] [smalldatetime] NOT NULL,
	[MAPDK] [nchar](10) NOT NULL,
	[TRANGTHAIPDK] [nvarchar](50) NULL,
	[IDVANTAY] [int] NULL,
 CONSTRAINT [PK_KHACHQUETVANTAY_1] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [nchar](10) NOT NULL,
	[TENKM] [nvarchar](50) NOT NULL,
	[TILEKM] [float] NOT NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [nchar](10) NOT NULL,
	[CMND] [varchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nchar](3) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PT] [bit] NOT NULL,
	[QUANLY] [bit] NOT NULL,
	[NGHILAM] [bit] NOT NULL,
	[HINHANH] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHANVIEN_1] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUDK]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDK](
	[MAPDK] [nchar](10) NOT NULL,
	[NGAYDK] [date] NOT NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[TONGTIEN] [money] NOT NULL,
	[TRANGTHAI] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
	[MAKH] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[MADV] [nchar](10) NOT NULL,
	[THUE] [float] NULL,
	[KHUYENMAI] [float] NULL,
 CONSTRAINT [PK_PHIEUDK] PRIMARY KEY CLUSTERED 
(
	[MAPDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MAPTT] [nchar](10) NOT NULL,
	[NGAYTHU] [date] NOT NULL,
	[TIENKHACHTRA] [money] NOT NULL,
	[TIENCONNO] [money] NOT NULL,
	[HANLANTOI] [date] NULL,
	[GHICHU] [nvarchar](50) NULL,
	[MAPDK] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MAPTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [nchar](10) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[DAKHOA] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VANTAYKHACH]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VANTAYKHACH](
	[IDVANTAY] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [nchar](10) NOT NULL,
	[VANTAY] [int] NULL,
 CONSTRAINT [PK_VANTAYKHACH_1] PRIMARY KEY CLUSTERED 
(
	[IDVANTAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[V_DOANH_THU]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DOANH_THU]
AS
select kh.MAKH, HOTEN, SDT,hangKH,DOANHTHU = SUM(TIENKHACHTRA) 
from (select mapdk,TIENKHACHTRA from PHIEUTHUTIEN) PTT
	INNER JOIN (SELECT MAPDK, MAKH FROM PHIEUDK) PDK ON PTT.MAPDK = PDK.MAPDK
	INNER JOIN (SELECT MAKH, HOTEN, SDT,HANGKH FROM KHACHHANG) KH ON PDK.MAKH = KH.MAKH
GROUP BY KH.MAKH, HOTEN,SDT,HANGKH


GO
/****** Object:  View [dbo].[V_KHACHQUETVANTAY]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_KHACHQUETVANTAY]
AS
SELECT STT, NGAYGIO, KH.HOTEN, TENDV, K.TRANGTHAIPDK  
FROM KHACHQUETVANTAY K
	INNER JOIN (SELECT MAPDK, MADV,MAKH, NGAYBD, NGAYKT FROM PHIEUDK) PDK ON K.MAPDK = PDK.MAPDK
	INNER JOIN (SELECT MAKH, HOTEN FROM KHACHHANG) KH ON PDK.MAKH  = KH.MAKH
	INNER JOIN (SELECT MADV, TENDV FROM DICHVU) DV ON DV.MADV = PDK.MADV
GO
/****** Object:  View [dbo].[V_LICHSUQUETVANTAY]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LICHSUQUETVANTAY]
AS
SELECT NGAYGIO, NGAYBD, NGAYKT--, KH.MAKH, KH.HOTEN, TENDV, K.TRANGTHAIPDK  
FROM KHACHQUETVANTAY K
	INNER JOIN (SELECT MAPDK, MADV,MAKH, NGAYBD, NGAYKT FROM PHIEUDK) PDK ON K.MAPDK = PDK.MAPDK
	INNER JOIN (SELECT MAKH, HOTEN FROM KHACHHANG) KH ON PDK.MAKH  = KH.MAKH
	INNER JOIN (SELECT MADV, TENDV FROM DICHVU) DV ON DV.MADV = PDK.MADV
--WHERE NGAYGIO between NGAYBD and NGAYKT

GO
/****** Object:  View [dbo].[v_nhan_vien]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[v_nhan_vien]
as
SELECT MANV, HOTEN, GIOITINH, sdt, CMND, email, NGAYSINH, DIACHI, PT, QUANLY, NGHILAM, tendangnhap = isnull(IIF(TAIKHOAN.DAKHOA = 'false', TENDANGNHAP, TENDANGNHAP + N'(Khóa)'), ''), HINHANH
FROM     NHANVIEN LEFT JOIN
                  TAIKHOAN ON NHANVIEN.MANV = TAIKHOAN.TENDANGNHAP
GO
/****** Object:  View [dbo].[V_PDK]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[V_PDK]
as
SELECT PDK.MAPDK, KH.MAKH, KH.HOTEN, KH.SDT, DV.TENDV, PDK.NGAYDK, PDK.NGAYBD, PDK.NGAYKT, PDK.THUE, PDK.TONGTIEN, PDK.TRANGTHAI,hotennv =  nv.HOTEN
FROM     dbo.PHIEUDK AS PDK INNER JOIN
                  dbo.KHACHHANG AS KH ON PDK.MAKH = KH.MAKH INNER JOIN
                  dbo.DICHVU AS DV ON DV.MADV = PDK.MADV
				  inner join nhanvien as nv on nv.MANV = pdk.MANV

GO
/****** Object:  View [dbo].[V_PTT]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[V_PTT]
as
select MAPTT, NGAYTHU,TIENKHACHTRA,TIENCONNO,HANLANTOI, ghichu,HOTEN, MAPDK from phieuthutien ptt inner join NHANVIEN on ptt.MANV = NHANVIEN.MANV

GO
/****** Object:  View [dbo].[V_SUMDATE]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_SUMDATE] as
SELECT PDK.MAKH, TONGNGAY = SUM(DATEDIFF(DAY, NGAYBD,NGAYKT)), KH.HANGKH
FROM PHIEUDK PDK INNER JOIN KHACHHANG KH ON PDK.MAKH = KH.MAKH
WHERE TRANGTHAI = N'HẾT HẠN'
GROUP BY PDK.MAKH, KH.HANGKH
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [SONGAYSUDUNG], [GIA]) VALUES (N'1NAM      ', N'GÓI TẬP 1 NĂM', 360, 6000000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [SONGAYSUDUNG], [GIA]) VALUES (N'1THANG    ', N'GÓI TẬP 1 THÁNG', 30, 500000.0000)
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [SONGAYSUDUNG], [GIA]) VALUES (N'2TUAN     ', N'GÓI TẬP 2 TUẦN', 14, 250000.0000)
INSERT [dbo].[DOTHONGSOCOTHE] ([MAKH], [NGAY], [CHIEUCAO], [CANNANG], [TILEMO], [KHOILUONGCO]) VALUES (N'KH0001    ', CAST(N'2020-01-31 01:00:00' AS SmallDateTime), 167.07, 51.06, 34.51, 73.48)
INSERT [dbo].[DOTHONGSOCOTHE] ([MAKH], [NGAY], [CHIEUCAO], [CANNANG], [TILEMO], [KHOILUONGCO]) VALUES (N'KH0001    ', CAST(N'2020-03-01 01:00:00' AS SmallDateTime), 168.51, 67.29, 38.77, 69.32)
INSERT [dbo].[DOTHONGSOCOTHE] ([MAKH], [NGAY], [CHIEUCAO], [CANNANG], [TILEMO], [KHOILUONGCO]) VALUES (N'KH0001    ', CAST(N'2020-03-31 01:00:00' AS SmallDateTime), 168.62, 82.21, 35.85, 62.81)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [GIOITINH], [NGAYSINH], [CMND], [EMAIL], [DIACHI], [HANGKH], [HINHANH]) VALUES (N'KH0001    ', N'NGUYỄN VĂN ANH', N'0921241514', N'NAM       ', CAST(N'1970-01-01' AS Date), N'261650586', N'deannasherman7450@hotmail.com', N'97 MAN THIỆN', NULL, N'/anhKH/default.png')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [GIOITINH], [NGAYSINH], [CMND], [EMAIL], [DIACHI], [HANGKH], [HINHANH]) VALUES (N'KH0002    ', N'MAI HOÀI HƯNG', N'0938274811', N'NỮ        ', CAST(N'1970-01-02' AS Date), N'728746287233', N'joshuaodom@aol.edu', NULL, N'VÀNG', N'/anhKH/default.png')
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [GIOITINH], [NGAYSINH], [CMND], [EMAIL], [DIACHI], [HANGKH], [HINHANH]) VALUES (N'KH0003    ', N'LÊ THỊ BÍCH', N'0942415135', N'NỮ        ', CAST(N'1958-01-03' AS Date), N'245252515', N'lindadavidson9691@protonmail.edu', N'124 LÊ VĂN VIỆT', NULL, N'/anhKH/default.png')
SET IDENTITY_INSERT [dbo].[KHACHQUETVANTAY] ON 

INSERT [dbo].[KHACHQUETVANTAY] ([STT], [NGAYGIO], [MAPDK], [TRANGTHAIPDK], [IDVANTAY]) VALUES (1, CAST(N'2021-04-17 18:39:00' AS SmallDateTime), N'PDK00000  ', N'SẮP HẾT HẠN', 30)
INSERT [dbo].[KHACHQUETVANTAY] ([STT], [NGAYGIO], [MAPDK], [TRANGTHAIPDK], [IDVANTAY]) VALUES (2, CAST(N'2021-04-17 19:25:00' AS SmallDateTime), N'PDK00001  ', N'ĐÃ KÍCH HOẠT', 29)
INSERT [dbo].[KHACHQUETVANTAY] ([STT], [NGAYGIO], [MAPDK], [TRANGTHAIPDK], [IDVANTAY]) VALUES (3, CAST(N'2021-04-18 05:19:00' AS SmallDateTime), N'PDK00000  ', N'SẮP HẾT HẠN', 30)
GO
SET IDENTITY_INSERT [dbo].[KHACHQUETVANTAY] OFF
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [TILEKM], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'KM01      ', N'KHUYẾN MÃI KHAI TRƯƠNG', 20, CAST(N'2021-04-01' AS Date), CAST(N'2021-05-01' AS Date))
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [TILEKM], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'KM02      ', N'KHUYẾN MÃI DỊP TẾT 2022', 20, CAST(N'2022-02-01' AS Date), CAST(N'2022-06-01' AS Date))
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [TILEKM], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'KM03      ', N'THÀNH VIÊN ĐỒNG', 3, NULL, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [CMND], [NGAYSINH], [DIACHI], [GIOITINH], [EMAIL], [PT], [QUANLY], [NGHILAM], [HINHANH]) VALUES (N'NV01      ', N'NGUYỄN VĂN ANH', N'0356549263', NULL, NULL, N'206 LÍ THƯỜNG KIỆT', N'NAM', N'ANH@GMAIL.COM', 1, 1, 0, N'/anhNV/nv01.jpg')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [CMND], [NGAYSINH], [DIACHI], [GIOITINH], [EMAIL], [PT], [QUANLY], [NGHILAM], [HINHANH]) VALUES (N'NV02      ', N'MAI THỊ THẢO', N'0924213413', NULL, NULL, N'267 LÍ TỰ TRỌNG', N'NỮ ', N'THAO@GMAIL.COM', 0, 0, 0, N'/anhNV/default.png')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [CMND], [NGAYSINH], [DIACHI], [GIOITINH], [EMAIL], [PT], [QUANLY], [NGHILAM], [HINHANH]) VALUES (N'NV03      ', N'LÊ VĂN VIỆT', N'0924122415', NULL, NULL, N'357 MAN THIỆN', N'NAM', N'VIET@GMAIL.COM', 1, 0, 0, N'/anhNV/default.png')
INSERT [dbo].[PHIEUDK] ([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TONGTIEN], [TRANGTHAI], [GHICHU], [MAKH], [MANV], [MADV], [THUE], [KHUYENMAI]) VALUES (N'PDK00000  ', CAST(N'2021-04-05' AS Date), CAST(N'2021-04-05' AS Date), CAST(N'2021-04-19' AS Date), 220000.0000, N'HẾT HẠN', N'', N'KH0012    ', N'NV01      ', N'2TUAN     ', 10, 20)
INSERT [dbo].[PHIEUDK] ([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TONGTIEN], [TRANGTHAI], [GHICHU], [MAKH], [MANV], [MADV], [THUE], [KHUYENMAI]) VALUES (N'PDK00001  ', CAST(N'2021-04-05' AS Date), CAST(N'2021-04-05' AS Date), CAST(N'2022-03-31' AS Date), 5280000.0000, N'HẾT HẠN', N'', N'KH0011    ', N'NV01      ', N'1NAM      ', 10, 20)
INSERT [dbo].[PHIEUDK] ([MAPDK], [NGAYDK], [NGAYBD], [NGAYKT], [TONGTIEN], [TRANGTHAI], [GHICHU], [MAKH], [MANV], [MADV], [THUE], [KHUYENMAI]) VALUES (N'PDK00002  ', CAST(N'2022-01-01' AS Date), CAST(N'2022-01-01' AS Date), CAST(N'2022-01-31' AS Date), 550000.0000, N'HẾT HẠN', N'', N'KH0010    ', N'NV01      ', N'1THANG    ', 10, 0)
INSERT [dbo].[PHIEUTHUTIEN] ([MAPTT], [NGAYTHU], [TIENKHACHTRA], [TIENCONNO], [HANLANTOI], [GHICHU], [MAPDK], [MANV]) VALUES (N'PTT0000   ', CAST(N'2021-04-05' AS Date), 220000.0000, 0.0000, NULL, N'', N'PDK00000  ', N'NV01      ')
INSERT [dbo].[PHIEUTHUTIEN] ([MAPTT], [NGAYTHU], [TIENKHACHTRA], [TIENCONNO], [HANLANTOI], [GHICHU], [MAPDK], [MANV]) VALUES (N'PTT0001   ', CAST(N'2021-04-05' AS Date), 1320000.0000, 3960000.0000, CAST(N'2021-07-04' AS Date), N'', N'PDK00001  ', N'NV01      ')
INSERT [dbo].[PHIEUTHUTIEN] ([MAPTT], [NGAYTHU], [TIENKHACHTRA], [TIENCONNO], [HANLANTOI], [GHICHU], [MAPDK], [MANV]) VALUES (N'PTT0002   ', CAST(N'2021-07-03' AS Date), 2640000.0000, 1320000.0000, CAST(N'2021-12-30' AS Date), N'', N'PDK00001  ', N'NV01      ')
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [DAKHOA]) VALUES (N'NV01      ', N'202CB962AC59075B964B07152D234B70', 0)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [DAKHOA]) VALUES (N'NV02      ', N'202CB962AC59075B964B07152D234B70', 0)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [DAKHOA]) VALUES (N'NV03      ', N'202CB962AC59075B964B07152D234B70', 0)
SET IDENTITY_INSERT [dbo].[VANTAYKHACH] ON 

INSERT [dbo].[VANTAYKHACH] ([IDVANTAY], [MAKH], [VANTAY]) VALUES (1, N'KH0001    ', 1)
INSERT [dbo].[VANTAYKHACH] ([IDVANTAY], [MAKH], [VANTAY]) VALUES (2, N'KH0002    ', 2)
INSERT [dbo].[VANTAYKHACH] ([IDVANTAY], [MAKH], [VANTAY]) VALUES (3, N'KH0013    ', 3)
SET IDENTITY_INSERT [dbo].[VANTAYKHACH] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_VANTAYKHACH]    Script Date: 5/18/2022 2:36:48 PM ******/
CREATE NONCLUSTERED INDEX [IX_VANTAYKHACH] ON [dbo].[VANTAYKHACH]
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_VANTAY_MAKH]    Script Date: 5/18/2022 2:36:48 PM ******/
CREATE NONCLUSTERED INDEX [UK_VANTAY_MAKH] ON [dbo].[VANTAYKHACH]
(
	[VANTAY] ASC,
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] ADD  CONSTRAINT [DF_DOTHONGSOCOTHE_NGAYGIO]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] ADD  CONSTRAINT [DF_DOTHONGSOCOTHE_CHIEUCAO]  DEFAULT ((0)) FOR [CHIEUCAO]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] ADD  CONSTRAINT [DF_DOTHONGSOCOTHE_CANNANG]  DEFAULT ((0)) FOR [CANNANG]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] ADD  CONSTRAINT [DF_DOTHONGSOCOTHE_TILEMO]  DEFAULT ((0)) FOR [TILEMO]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] ADD  CONSTRAINT [DF_DOTHONGSOCOTHE_TILENUOC]  DEFAULT ((0)) FOR [KHOILUONGCO]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_GIOITINH]  DEFAULT (N'NAM') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[KHACHQUETVANTAY] ADD  CONSTRAINT [DF_KHACHQUETVANTAY_TRANGTHAIPDK]  DEFAULT (N'ĐÃ KÍCH HOẠT') FOR [TRANGTHAIPDK]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT (N'NAM') FOR [GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_PT]  DEFAULT ((0)) FOR [PT]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_QUANLY]  DEFAULT ((0)) FOR [QUANLY]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_NGHILAM]  DEFAULT ((0)) FOR [NGHILAM]
GO
ALTER TABLE [dbo].[PHIEUDK] ADD  CONSTRAINT [DF_PHIEUDK_MAPDK]  DEFAULT (N'CHỜ KÍCH HOẠT') FOR [MAPDK]
GO
ALTER TABLE [dbo].[PHIEUDK] ADD  CONSTRAINT [DF_PHIEUDK_NGAYDK]  DEFAULT (getdate()) FOR [NGAYDK]
GO
ALTER TABLE [dbo].[PHIEUDK] ADD  CONSTRAINT [DF_PHIEUDK_THUE]  DEFAULT ((0)) FOR [THUE]
GO
ALTER TABLE [dbo].[PHIEUDK] ADD  CONSTRAINT [DF_PHIEUDK_KHUYENMAI]  DEFAULT ((0)) FOR [KHUYENMAI]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] ADD  CONSTRAINT [DF_PHIEUTHUTIEN_NGAYTHU]  DEFAULT (getdate()) FOR [NGAYTHU]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] ADD  CONSTRAINT [DF_PHIEUTHUTIEN_GHICHU]  DEFAULT ('') FOR [GHICHU]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_DAKHOA]  DEFAULT ((0)) FOR [DAKHOA]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE]  WITH CHECK ADD  CONSTRAINT [FK_DOTHONGSOCOTHE_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] CHECK CONSTRAINT [FK_DOTHONGSOCOTHE_KHACHHANG]
GO
ALTER TABLE [dbo].[KHACHQUETVANTAY]  WITH CHECK ADD  CONSTRAINT [FK_KHACHQUETVANTAY_PHIEUDK] FOREIGN KEY([MAPDK])
REFERENCES [dbo].[PHIEUDK] ([MAPDK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACHQUETVANTAY] CHECK CONSTRAINT [FK_KHACHQUETVANTAY_PHIEUDK]
GO
ALTER TABLE [dbo].[KHACHQUETVANTAY]  WITH CHECK ADD  CONSTRAINT [FK_KHACHQUETVANTAY_VANTAYKHACH] FOREIGN KEY([IDVANTAY])
REFERENCES [dbo].[VANTAYKHACH] ([IDVANTAY])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACHQUETVANTAY] CHECK CONSTRAINT [FK_KHACHQUETVANTAY_VANTAYKHACH]
GO
ALTER TABLE [dbo].[PHIEUDK]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDK_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUDK] CHECK CONSTRAINT [FK_PHIEUDK_DICHVU]
GO
ALTER TABLE [dbo].[PHIEUDK]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUDK_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDK] CHECK CONSTRAINT [FK_PHIEUDK_KHACHHANG]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN1] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN1]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_PHIEUDK] FOREIGN KEY([MAPDK])
REFERENCES [dbo].[PHIEUDK] ([MAPDK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_PHIEUDK]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH NOCHECK ADD  CONSTRAINT [FK_TaiKhoan_NHANVIEN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TaiKhoan_NHANVIEN]
GO
ALTER TABLE [dbo].[VANTAYKHACH]  WITH CHECK ADD  CONSTRAINT [FK_VANTAYKHACH_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VANTAYKHACH] CHECK CONSTRAINT [FK_VANTAYKHACH_KHACHHANG]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_GIA] CHECK  (([GIA]>=(0)))
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [CK_GIA]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_SONGAYSDDV] CHECK  (([SONGAYSUDUNG]>(0)))
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [CK_SONGAYSDDV]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE]  WITH CHECK ADD  CONSTRAINT [CK_CANNANG] CHECK  (([CANNANG]>(0)))
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] CHECK CONSTRAINT [CK_CANNANG]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE]  WITH CHECK ADD  CONSTRAINT [CK_CHIEUCAO] CHECK  (([CHIEUCAO]>(0)))
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] CHECK CONSTRAINT [CK_CHIEUCAO]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE]  WITH CHECK ADD  CONSTRAINT [CK_TILEMO] CHECK  (([TILEMO]>(0)))
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] CHECK CONSTRAINT [CK_TILEMO]
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE]  WITH CHECK ADD  CONSTRAINT [CK_TILENUOC] CHECK  (([KHOILUONGCO]>(0)))
GO
ALTER TABLE [dbo].[DOTHONGSOCOTHE] CHECK CONSTRAINT [CK_TILENUOC]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_CMND] CHECK  (([CMND] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]' OR [CMND] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_CMND]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINHKH] CHECK  (([GIOITINH]=N'NỮ' OR [GIOITINH]='NAM'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_GIOITINHKH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_SDT] CHECK  (([sdt] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_SDT]
GO
ALTER TABLE [dbo].[KHACHQUETVANTAY]  WITH CHECK ADD  CONSTRAINT [CK_KHACHQUETVANTAY] CHECK  (([TRANGTHAIPDK]=N'SẮP ĐẾN HẠN NỘP TIỀN' OR [TRANGTHAIPDK]=N'SẮP HẾT HẠN' OR [TRANGTHAIPDK]=N'ĐÃ KÍCH HOẠT'))
GO
ALTER TABLE [dbo].[KHACHQUETVANTAY] CHECK CONSTRAINT [CK_KHACHQUETVANTAY]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_TILEKM] CHECK  (([TILEKM]>(0)))
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [CK_TILEKM]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_EMAIL] CHECK  (([EMAIL] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_EMAIL]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINHNV] CHECK  (([GIOITINH]=N'NỮ' OR [GIOITINH]='NAM'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GIOITINHNV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_SDTNV] CHECK  (([SDT] like '[0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_SDTNV]
GO
ALTER TABLE [dbo].[PHIEUDK]  WITH CHECK ADD  CONSTRAINT [CK_NGAYDK] CHECK  (([NGAYDK]<=[NGAYBD]))
GO
ALTER TABLE [dbo].[PHIEUDK] CHECK CONSTRAINT [CK_NGAYDK]
GO
ALTER TABLE [dbo].[PHIEUDK]  WITH CHECK ADD  CONSTRAINT [CK_TONGTIEN] CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUDK] CHECK CONSTRAINT [CK_TONGTIEN]
GO
ALTER TABLE [dbo].[PHIEUDK]  WITH CHECK ADD  CONSTRAINT [CKNGAYBD] CHECK  (([NGAYBD]<=[NGAYKT]))
GO
ALTER TABLE [dbo].[PHIEUDK] CHECK CONSTRAINT [CKNGAYBD]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [CK_TIENCONNO] CHECK  (([TIENCONNO]>=(0)))
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [CK_TIENCONNO]
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [CK_TIENKHACHTRA] CHECK  (([TIENKHACHTRA]>(0)))
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [CK_TIENKHACHTRA]
GO
/****** Object:  StoredProcedure [dbo].[GET_ID]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GET_ID]
@TBL NCHAR(20)
AS
BEGIN
--lấy id tạo mới cho bảng tương ứng
IF @TBL = 'KHACHHANG'
	select 'KH'+format(ISNULL(cast(substring((select max(makh) from KHACHHANG),3,6) as int) + 1,0),'0000')
IF @TBL = 'PHIEUDK'
	select 'PDK'+format(ISNULL(cast(substring((select max(MAPDK) from PHIEUDK),4,6) as int) + 1,0),'00000')
IF @TBL = 'PHIEUTHUTIEN'
	select 'PTT'+format(ISNULL(cast(substring((select max(MAPTT) from PHIEUTHUTIEN),4,6) as int) + 1,0),'0000')
IF @TBL= 'NHANVIEN' 
	select 'NV'+format(ISNULL(cast(substring((select max(MANV) from NHANVIEN),3,4) as int) + 1,0),'00')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_KHACH_CO_THE_DANG_KI]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CHECK_KHACH_CO_THE_DANG_KI] 
--NẾU TRẢ VỀ 1 DÒNG THÌ KHÁCH KHÔNG THỂ ĐĂNG KÍ, KHÔNG TRẢ VỀ DÒNG NÀO THÌ KHÁCH CÓ THỂ ĐĂNG KÍ MỚI
@MAKH NCHAR(10)
AS
BEGIN
SELECT MAKH
FROM PHIEUDK WHERE MAKH = @MAKH AND 
	TRANGTHAI IN(N'CHỜ KÍCH HOẠT',N'ĐÃ KÍCH HOẠT', N'SẮP ĐẾN HẠN NỘP TIỀN', N'SẮP HẾT HẠN')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DOI_MK]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_DOI_MK]
@MANV NCHAR(10),
@MATKHAUCU VARCHAR(50), 
@MATKHAUMOI VARCHAR(50)
as
BEGIN
SET @MATKHAUCU = CONVERT(VARCHAR(32), HashBytes('MD5',@MATKHAUCU), 2)
SET @MATKHAUMOI = CONVERT(VARCHAR(32), HashBytes('MD5',@MATKHAUMOI), 2)

IF NOT EXISTS(SELECT TENDANGNHAP FROM TAIKHOAN WHERE TENDANGNHAP = @MANV AND @MATKHAUCU = MATKHAU)
	BEGIN
	RAISERROR(N'MẬT KHẨU HIỆN TẠI KHÔNG ĐÚNG!!',16,1)
	RETURN 0
	END
update TAIKHOAN
set MATKHAU = @MATKHAUMOI
where @MANV = TENDANGNHAP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DSPDK_HOPLE]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSPDK_HOPLE]
AS
SELECT	MAPDK FROM PHIEUDK 
WHERE  TRANGTHAI IN(N'ĐÃ KÍCH HOẠT', N'SẮP ĐẾN HẠN NỘP TIỀN', N'SẮP HẾT HẠN')

GO
/****** Object:  StoredProcedure [dbo].[SP_GET_BMI]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_BMI]
--chọn thông số 1 năm gần nhất tính từ hiện tại
@MAKH NCHAR(10)
AS
SELECT top 6  CONVERT(date,NGAY), BMI = avg(CANNANG)/(avg(CHIEUCAO)*2/100)
FROM DOTHONGSOCOTHE WHERE MAKH = @MAKH
group by NGAY
order by NGAY desc
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_THONG_KE_DOANH_THU]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE proc [dbo].[SP_GET_THONG_KE_DOANH_THU]
as
begin
select kh.MAKH, HOTEN, SDT,hangKH,DOANHTHU = SUM(TIENKHACHTRA) 
from (select mapdk,TIENKHACHTRA from PHIEUTHUTIEN) PTT
	INNER JOIN (SELECT MAPDK, MAKH FROM PHIEUDK) PDK ON PTT.MAPDK = PDK.MAPDK
	INNER JOIN (SELECT MAKH, HOTEN, SDT,HANGKH FROM KHACHHANG) KH ON PDK.MAKH = KH.MAKH
GROUP BY KH.MAKH, HOTEN,SDT,HANGKH
ORDER BY DOANHTHU DESC
end


GO
/****** Object:  StoredProcedure [dbo].[SP_GET_THONG_KE_DOANH_THU_THEO_KHOANG]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_GET_THONG_KE_DOANH_THU_THEO_KHOANG]
@TuNgay date,
@DenNgay date
as
begin
select kh.MAKH, HOTEN, SDT,hangKH,DOANHTHU = SUM(TIENKHACHTRA) 
from (select mapdk,TIENKHACHTRA from PHIEUTHUTIEN where NGAYTHU between @TuNgay and @DenNgay) PTT
	INNER JOIN (SELECT MAPDK, MAKH FROM PHIEUDK) PDK ON PTT.MAPDK = PDK.MAPDK
	INNER JOIN (SELECT MAKH, HOTEN, SDT,HANGKH FROM KHACHHANG) KH ON PDK.MAKH = KH.MAKH
GROUP BY KH.MAKH, HOTEN,SDT,HANGKH
ORDER BY DOANHTHU DESC
end
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_NHIEU_VANTAY_VAORA]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_INSERT_NHIEU_VANTAY_VAORA]
AS
BEGIN
INSERT INTO KHACHQUETVANTAY(MAPDK,NGAYGIO,IDVANTAY)
SELECT MAPDK,ngayGio = CAST(getdate() as DATETIME) + CAST(dateadd(second, rand(cast(newid() as varbinary)) * 60200, cast('05:00:00' as time)) as DATETIME),IDVANTAY
FROM (SELECT MAKH, IDVANTAY = MAX(IDVANTAY) FROM VANTAYKHACH GROUP BY MAKH) VT
	INNER JOIN (SELECT MAPDK, MAKH FROM PHIEUDK WHERE TRANGTHAI NOT IN (N'ĐÃ HỦY', N'HẾT HẠN', N'CHỜ KÍCH HOẠT')) PDK
		ON VT.MAKH = PDK.MAKH
select @@ROWCOUNT
end
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_VANTAY_VAORA]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_INSERT_VANTAY_VAORA]
@vantay nchar(10)
as
begin


--check vân tay hợp lệ
DECLARE @IDVANTAY INT 
DECLARE @MAKH NCHAR(10)
DECLARE @MAPDK NCHAR(10)
if((select count(*) from VANTAYKHACH where VANTAY = @vantay) = 0)
	BEGIN
	RAISERROR(N'VÂN TAY KHÔNG HỢP LỆ',16,1)
	RETURN 0
	END
select @IDVANTAY = idvantay, @MAKH = MAKH from VANTAYKHACH where VANTAY = @vantay

select @MAPDK =  MAPDK From PHIEUDK where MAKH = @makh and TRANGTHAI NOT IN (N'ĐÃ HỦY', N'HẾT HẠN', N'CHỜ KÍCH HOẠT')

IF(@MAPDK IS NULL)
 begin
	RAISERROR(N'KHÁCH KHÔNG CÓ PDK HỢP LỆ',16,1)
	RETURN 0
	end
INSERT INTO KHACHQUETVANTAY(NGAYGIO,MAPDK,IDVANTAY) VALUES(GETDATE(), @MAPDK, @IDVANTAY)
end

GO
/****** Object:  StoredProcedure [dbo].[SP_KH_CO_PDK_HOPLE]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KH_CO_PDK_HOPLE]
--dùng trong giả lập dữ liệu vân tay
AS
SELECT MAKH,MAPDK,TRANGTHAI FROM PHIEUDK 
WHERE  TRANGTHAI IN(N'ĐÃ KÍCH HOẠT', N'SẮP ĐẾN HẠN NỘP TIỀN', N'SẮP HẾT HẠN')
GO
/****** Object:  StoredProcedure [dbo].[SP_KHOA_TK_NV]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_KHOA_TK_NV]
@manv NCHAR(10)
as
BEGIN
--RAISERROR(N'TÀI KHOẢN ĐÃ KHÓA TRƯỚC ĐÓ',16,1)
IF OBJECT_ID('tempdb..#tmp') IS NOT NULL
    DROP TABLE #tmp
SELECT * INTO #TMP FROM TAIKHOAN WHERE @manv = TENDANGNHAP
IF((SELECT COUNT(*) FROM #TMP) > 0)
	BEGIN
		IF((SELECT DAKHOA FROM #TMP) = 'TRUE')
		BEGIN
			RAISERROR(N'TÀI KHOẢN ĐÃ KHÓA TRƯỚC ĐÓ',16,1)
			RETURN
		END
		update TAIKHOAN set DAKHOA = 'true' where TENDANGNHAP = @manv
	END
ELSE
	RAISERROR(N'NHÂN VIÊN CHƯA ĐƯỢC CẤP TÀI KHOẢN',16,1)
select null
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KM_THEO_KH]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KM_THEO_KH]
--TÌM KHUYẾN MẠI CỦA KHÁCH HÀNG, BAO GỒM KM ĐANG HIỆN HÀNH CỦA QUÁN VÀ KM RIÊNG CỦA TỪNG KHÁCH HÀNG
@MAKH NCHAR(10)
AS
BEGIN
DECLARE @HANG NVARCHAR(10)
SELECT @HANG = isNULL(HANGKH,'null') FROM KHACHHANG WHERE MAKH = @MAKH;
SELECT *FROM KHUYENMAI WHERE (GETDATE() BETWEEN NGAYBATDAU AND NGAYKETTHUC) OR (TENKM like ('%'+@HANG))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MO_KHOA_TAI_KHOAN_NV]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MO_KHOA_TAI_KHOAN_NV]
@MANV NCHAR(10)
AS
BEGIN
IF OBJECT_ID('tempdb..#tmp') IS NOT NULL
    DROP TABLE #tmp
SELECT * INTO #TMP FROM TAIKHOAN WHERE @manv = TENDANGNHAP
IF((SELECT COUNT(*) FROM #TMP) > 0)
	BEGIN
		IF((SELECT DAKHOA FROM #TMP) = 'FALSE')
		BEGIN
			RAISERROR(N'TÀI KHOẢN ĐÃ MỞ KHÓA TRƯỚC ĐÓ',16,1)
			RETURN
		END
		update TAIKHOAN set DAKHOA = 'FALSE' where TENDANGNHAP = @manv
	END
ELSE
	RAISERROR(N'NHÂN VIÊN CHƯA ĐƯỢC CẤP TÀI KHOẢN',16,1)
	return
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MO_KHOA_TK_NV]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_MO_KHOA_TK_NV]
@manv NCHAR(10)
as
BEGIN
--RAISERROR(N'TÀI KHOẢN ĐÃ KHÓA TRƯỚC ĐÓ',16,1)
IF OBJECT_ID('tempdb..#tmp') IS NOT NULL
    DROP TABLE #tmp
SELECT * INTO #TMP FROM TAIKHOAN WHERE @manv = TENDANGNHAP
IF((SELECT COUNT(*) FROM #TMP) > 0)
	BEGIN
		IF((SELECT DAKHOA FROM #TMP) = 'false')
		BEGIN
			RAISERROR(N'Tài Khoản Đang Không Khóa!',16,1)
			RETURN
		END
		update TAIKHOAN set DAKHOA = 'false' where TENDANGNHAP = @manv
	END
ELSE
	RAISERROR(N'NHÂN VIÊN CHƯA ĐƯỢC CẤP TÀI KHOẢN',16,1)
select null
END
GO
/****** Object:  StoredProcedure [dbo].[SP_NV_DANGNHAP]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_NV_DANGNHAP]
@TENDANGNHAP NCHAR(10), 
@MATKHAU VARCHAR(50)
AS
BEGIN
SELECT HOTEN,QUANLY,HINHANH,DAKHOA,NV.NGHILAM
FROM (SELECT * FROM TAIKHOAN WHERE TENDANGNHAP = @TENDANGNHAP AND MATKHAU = (select CONVERT(VARCHAR(32), HashBytes('MD5',@MATKHAU), 2))) TK
	INNER JOIN (SELECT MANV, HOTEN, QUANLY,HINHANH,NGHILAM FROM NHANVIEN) NV
	ON TENDANGNHAP = MANV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PDK_TO_PDF]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PDK_TO_PDF]
--LẤY THÔNG TIN PHỤC VỤ CHO VIỆC IN FILE PDF
@MAPDK NCHAR(10)
AS

SELECT KH.MAKH, HANGKH, MAPDK, kh.HOTEN, NGAYSINH = isnull(NGAYSINH,''), GIOITINH, CMND, EMAIL,SDT,DIACHI,TENDV, NGAYDK = isnull(NGAYDK,''),SONGAYSUDUNG, NGAYBD = isnull(NGAYBD,''),NGAYKT = isnull(NGAYKT,''), GIA = FORMAT(GIA, 'n0'),KHUYENMAI = (STR(KHUYENMAI,2) + '%'), THUE = STR(THUE,2) + '%', TONGTIEN = FORMAT(TONGTIEN, 'n0'),hotennv = nv.HOTEN
FROM (SELECT *FROM PHIEUDK WHERE MAPDK = @MAPDK) PDK
		INNER JOIN KHACHHANG KH ON PDK.MAKH = KH.MAKH
		INNER JOIN DICHVU DV ON PDK.MADV = DV.MADV
		inner join (select manv, hoten from NHANVIEN) nv on nv.MANV = pdk.MANV
GO
/****** Object:  StoredProcedure [dbo].[SP_PTT_TO_PDF]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PTT_TO_PDF]
--LẤY THÔNG TIN PHỤC VỤ CHO VIỆC IN FILE PDF
@MAPTT NCHAR(10)
AS
SELECT  KH.MAKH,nv.MANV,MAPTT, PDK.MAPDK,kh.HOTEN, DIACHI, SDT,NGAYTHU = isnull(NGAYTHU,''), TIENKHACHTRA = FORMAT(TIENKHACHTRA,'N0'), TIENCONNO =  FORMAT(ISNULL(TIENCONNO,0), 'N0'), HANLANTOI = isnull(HANLANTOI,''), GHICHU,TENDV, hotennv = nv.HOTEN
FROM  (SELECT *FROM PHIEUTHUTIEN WHERE MAPTT = @MAPTT) PTT
		INNER JOIN (SELECT MAPDK, MAKH,MADV FROM PHIEUDK) PDK ON PTT.MAPDK = PDK.MAPDK
		INNER JOIN (SELECT MAKH, HANGKH, HOTEN,SDT, DIACHI FROM  KHACHHANG) KH ON KH.MAKH = PDK.MAKH
		INNER JOIN DICHVU ON PDK.MADV = DICHVU.MADV
		inner join (select manv, hoten from NHANVIEN) nv on nv.MANV = ptt.MANV
GO
/****** Object:  StoredProcedure [dbo].[SP_TAO_TK_NV]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_TAO_TK_NV]
@MANV NCHAR(10), 
@MATKHAU VARCHAR(50)
AS
BEGIN
IF EXISTS(SELECT TENDANGNHAP FROM TAIKHOAN WHERE TENDANGNHAP = @MANV)
	UPDATE TAIKHOAN SET MATKHAU=(select CONVERT(VARCHAR(32), HashBytes('MD5',@MATKHAU), 2))WHERE TENDANGNHAP=@MANV
ELSE INSERT INTO TAIKHOAN VALUES(@MANV, (select CONVERT(VARCHAR(32), HashBytes('MD5',@MATKHAU), 2)),'false')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_DO_TUOI]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONG_KE_DO_TUOI]
AS
BEGIN

IF OBJECT_ID('tempdb..#tmp') IS NOT NULL
    DROP TABLE #tmp
SELECT  tuoi =  (year(getdate()) - year(NGAYSINH))
INTO #TMP
FROM KHACHHANG

SELECT (SELECT COUNT(*) FROM #TMP WHERE TUOI < 17) AS N'6-17',
		(SELECT COUNT(*) FROM #TMP WHERE TUOI between 18 and 34) AS N'18-34',
		(SELECT COUNT(*) FROM #TMP WHERE TUOI between 35 and 55) AS N'35-55',
		(SELECT COUNT(*) FROM #TMP WHERE TUOI >=56) AS N'Trên 55',
		(SELECT COUNT(*) FROM #TMP WHERE TUOI is null) AS N'Không Rõ'
--6-17/18-34/35-55/TRÊN 55
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_GIOI_TINH]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[SP_THONG_KE_GIOI_TINH]
AS
BEGIN
select (select count(*) from KHACHHANG where GIOITINH = 'NAM') as NAM,
	(select count(*) from KHACHHANG where GIOITINH = N'NỮ') as N'NỮ'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_KHACH_HANG]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create proc [dbo].[SP_THONG_KE_KHACH_HANG]
as
begin

IF OBJECT_ID('tempdb..#khTmp') IS NOT NULL
    DROP TABLE #khTmp
select makh, sl = count(*)
into #khTmp 
from PhieuDK group by makh

select tongKhachHang = (select count(*) from #khTmp), tongKhachHangCu = (select count(*) from #khTmp where sl > 1), tongKhachHangMoi = (select count(*) from #khTmp where sl = 1)


end
GO
/****** Object:  StoredProcedure [dbo].[SP_THONG_KE_VAO_RA]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THONG_KE_VAO_RA]
AS
begin
IF OBJECT_ID('tempdb..#VAORATMP') IS NOT NULL
    DROP TABLE #VAORATMP
SELECT MUIGIO = DATEPART(HOUR,NGAYGIO), SOLUOT = COUNT(*)
INTO #VAORATMP
FROM KHACHQUETVANTAY GROUP BY DATEPART(HOUR,NGAYGIO)
SELECT (SELECT SUM(SOLUOT) FROM #VAORATMP WHERE MUIGIO IN (5,6)) AS '5-7H AM',
		(SELECT SUM(SOLUOT) FROM #VAORATMP WHERE MUIGIO IN (7,8)) AS '7-9H AM',
		(SELECT SUM(SOLUOT) FROM #VAORATMP WHERE MUIGIO IN (9,10)) AS '9-11H AM',
		(SELECT SUM(SOLUOT) FROM #VAORATMP WHERE MUIGIO IN (11,12)) AS '11-1H PM',
		(SELECT SUM(SOLUOT) FROM #VAORATMP WHERE MUIGIO IN (13,14)) AS '1-3H PM',
		(SELECT SUM(SOLUOT) FROM #VAORATMP WHERE MUIGIO IN (15,16)) AS '3-5H PM',
		(SELECT SUM(SOLUOT) FROM #VAORATMP WHERE MUIGIO IN (16,17)) AS '5-7H PM',
		(SELECT SUM(SOLUOT) FROM #VAORATMP WHERE MUIGIO IN (17,18)) AS '7-9H PM'
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_THONGTIN_TRAGOP]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_THONGTIN_TRAGOP]
--TRẢ VỀ SỐ THÁNG CÒN NỢ và SỐ TIỀN TỐI THIỂU 1 THÁNG
--
@mapdk nvarchar(20)
as
BEGIN
DECLARE @TONGTHANG INT
SELECT @TONGTHANG = (SONGAYSUDUNG/30) FROM DICHVU DV INNER JOIN (SELECT MADV FROM PHIEUDK WHERE MAPDK = @mapdk) PDK ON DV.MADV =  PDK.MADV
DECLARE @SOTIEN_TOITHIEU MONEY
IF(@TONGTHANG = 0)
	BEGIN
	SET @TONGTHANG = 1
	END
DECLARE @TONGTIEN INT
SELECT @SOTIEN_TOITHIEU = ROUND(TONGTIEN /@TONGTHANG,0), @TONGTIEN = TONGTIEN FROM PHIEUDK WHERE MAPDK = @mapdk

DECLARE @TIENCONNO INT
SELECT @TIENCONNO = TIENCONNO FROM PHIEUTHUTIEN PTT WHERE NGAYTHU = (SELECT MAX(NGAYTHU) FROM PHIEUTHUTIEN WHERE MAPDK = @mapdk) AND MAPDK = @mapdk

DECLARE @SOTHANGCONNO INT
SELECT @SOTHANGCONNO = ROUND(ISNULL(@TIENCONNO,@TONGTIEN)/@SOTIEN_TOITHIEU,0) --LÝ DO DÙNG ISNULL: NẾU CHƯA ĐÓNG TIỀN LẦN NÀO THÌ SẼ KHÔNG TÌM ĐƯỢC TIỀN CÒN NỢ TRONG PTT

SELECT SOTHANGCONNO = @SOTHANGCONNO,  SOTIENTOITHIEU = @SOTIEN_TOITHIEU
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TIMKH_FROM_KHACHQUETVANTAY]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIMKH_FROM_KHACHQUETVANTAY]
@STT int
AS
SELECT kh.MAKH, HOTEN, CMND, GIOITINH, NGAYSINH, SDT, EMAIL,DIACHI, HANGKH, HINHANH 
FROM (SELECT MAPDK FROM KHACHQUETVANTAY WHERE STT = @STT) K 
	INNER JOIN PHIEUDK PDK ON K.MAPDK = PDK.MAPDK 
	INNER JOIN KHACHHANG KH ON KH.MAKH = PDK.MAKH
GO
/****** Object:  StoredProcedure [dbo].[SP_TIMKIEM_PDK_BY_KEY]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_TIMKIEM_PDK_BY_KEY]
@key nvarchar(10)
as
select V_PDK.* 
from V_PDK inner join 
	(select MAKH from khachhang where hoten like Concat('%',@key,'%') or sdt like Concat('%',@key,'%')) KH
	on V_PDK.MAKH = kh.MAKH
GO
/****** Object:  StoredProcedure [dbo].[SP_TIMPDK_FROM_KHACHQUETVANTAY]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIMPDK_FROM_KHACHQUETVANTAY]
@STT int
AS
SELECT K.MAPDK,NGAYDK,NGAYBD,NGAYKT
FROM (SELECT MAPDK FROM KHACHQUETVANTAY WHERE @STT = STT) K 
	INNER JOIN PHIEUDK PDK ON K.MAPDK = PDK.MAPDK
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_TT_PDK]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_TT_PDK]
AS
BEGIN
--QUÁ NGÀY CHỜ NỘP TIỀN LẦN ĐẦU 15 NGÀY
UPDATE PHIEUDK
SET TRANGTHAI = N'ĐÃ HỦY'
WHERE TRANGTHAI = N'CHỜ KÍCH HOẠT' AND DATEDIFF(DAY,NGAYDK,CONVERT(DATE, GETDATE())) >= 15

--SẮP HẾT HẠN TRƯỚC 3 NGÀY
UPDATE PHIEUDK
SET TRANGTHAI = N'SẮP HẾT HẠN'
WHERE (TRANGTHAI = N'ĐÃ KÍCH HOẠT')
		AND DATEDIFF(DAY,CONVERT(DATE, GETDATE()), NGAYKT) IN (1,2,3) 
--HẾT HẠN
UPDATE PHIEUDK
SET TRANGTHAI = N'HẾT HẠN'
WHERE (TRANGTHAI NOT IN (N'ĐÃ HỦY',N'HẾT HẠN') AND NGAYKT < CONVERT(DATE, GETDATE()))

--SẮP ĐẾN HẠN NỘP TIỀN
UPDATE PHIEUDK 
SET TRANGTHAI = N'SẮP ĐẾN HẠN NỘP TIỀN'
WHERE TRANGTHAI = N'ĐÃ KÍCH HOẠT'
	AND DATEDIFF(DAY, CONVERT(DATE, GETDATE()),(SELECT MAX(HANLANTOI)  
												FROM PHIEUTHUTIEN PTT 
												WHERE PTT.HANLANTOI is not null 
													AND PTT.MAPDK = PHIEUDK.MAPDK)) IN (1,2,3);
--ĐÃ HỦY(HẾT HẠN NỘP)
UPDATE PHIEUDK
SET TRANGTHAI = N'ĐÃ HỦY'
WHERE  (TRANGTHAI = N'SẮP ĐẾN HẠN NỘP TIỀN') AND 
		(SELECT MAX(HANLANTOI) 
			FROM PHIEUTHUTIEN PTT 
			WHERE PTT.HANLANTOI is not null AND PTT.MAPDK = PHIEUDK.MAPDK) < CONVERT(DATE, GETDATE());
END

GO
/****** Object:  Trigger [dbo].[T_AUTOSET_PDK]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[T_AUTOSET_PDK] ON [dbo].[KHACHQUETVANTAY]
--AUTO INSERT MAPDK VÀ XÓA NHỮNG INSERT KHÔNG HỢP LỆ

FOR INSERT
AS
BEGIN
if((select COUNT(*) from inserted) > 1)
return
DECLARE @TRANGTHAIPDK nchar(50)
SELECT @TRANGTHAIPDK = (SELECT TRANGTHAI 
			FROM PHIEUDK
			WHERE PHIEUDK.MAPDK = (SELECT MAPDK FROM inserted))
IF(@TRANGTHAIPDK IN (N'CHỜ KÍCH HOẠT',N'ĐÃ HỦY', N'HẾT HẠN'))
	BEGIN
	DELETE FROM KHACHQUETVANTAY WHERE STT = (SELECT STT FROM inserted)
	RETURN
	END
UPDATE KHACHQUETVANTAY
set TRANGTHAIPDK = @TRANGTHAIPDK
WHERE STT =(select stt from inserted)
END
GO
/****** Object:  Trigger [dbo].[T_AUTOKICHHOAT_PDK]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[T_AUTOKICHHOAT_PDK] ON [dbo].[PHIEUTHUTIEN]
FOR INSERT
AS
BEGIN
	DECLARE @MAPDK NCHAR(10)
	SELECT @MAPDK = MAPDK FROM PHIEUTHUTIEN WHERE MAPTT = (SELECT MAX(MAPTT) FROM PHIEUTHUTIEN)
	DECLARE @TONGNGAY INT
	SELECT @TONGNGAY = SONGAYSUDUNG
	FROM DICHVU DV 
		INNER JOIN (SELECT MADV FROM PHIEUDK WHERE MAPDK = @MAPDK) PDK ON PDK.MADV = DV.MADV 
	UPDATE PHIEUDK
	SET NGAYBD = GETDATE(), NGAYKT = DATEADD(DAY, @TONGNGAY,GETDATE())
	WHERE NGAYBD IS NULL AND MAPDK = @MAPDK

	UPDATE PHIEUDK
	SET  TRANGTHAI = N'ĐÃ KÍCH HOẠT'
	WHERE MAPDK = @MAPDK AND TRANGTHAI != N'SẮP HẾT HẠN'
END






	 
GO
/****** Object:  Trigger [dbo].[T_UPDATE_HANG_KH]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[T_UPDATE_HANG_KH] on [dbo].[PHIEUTHUTIEN]
AFTER INSERT,UPDATE,DELETE
AS 
BEGIN
DECLARE @MAKH NCHAR(10)
SELECT @MAKH = PDK.MAKH FROM (SELECT MAPDK FROM inserted) I INNER JOIN (SELECT MAPDK,MAKH FROM PHIEUDK) PDK ON I.MAPDK = PDK.MAPDK
DECLARE @DOANHTHU MONEY
SELECT @DOANHTHU = DOANHTHU FROM V_DOANH_THU WHERE @MAKH = MAKH
UPDATE KHACHHANG 
SET HANGKH = CASE WHEN(@DOANHTHU BETWEEN 500000 AND 2000000-1) THEN N'ĐỒNG' 
WHEN(@DOANHTHU BETWEEN 2000000 AND 5000000 -1) THEN N'BẠC' 
WHEN(@DOANHTHU BETWEEN 5000000 AND 10000000-1) THEN N'VÀNG' 
WHEN(@DOANHTHU >= 10000000) THEN N'KIM CƯƠNG' 
END
WHERE MAKH = @MAKH
SELECT @MAKH
END


GO
/****** Object:  Trigger [dbo].[T_THEMMAVANTAY]    Script Date: 5/18/2022 2:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[T_THEMMAVANTAY] ON [dbo].[VANTAYKHACH]
FOR INSERT
AS
BEGIN
UPDATE VANTAYKHACH
SET VANTAY = (SELECT IDVANTAY FROM inserted)
WHERE IDVANTAY = (SELECT IDVANTAY FROM inserted)
END

GO
USE [master]
GO
